<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/article/new" method="post"> <!--action = 어디로   method = 어떻게-->
        <input type="text" name="title">
        <textarea name="content"></textarea>
        <button type="submit">제출</button>
    </form>
</body>
</html>